.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .content {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }
}

.content h1 {
  font-size: 70px;
  margin-top: 0px;
}

.content p {
  margin: 5px auto;
  font-weight: 100;
  line-height: 25px;
}
.content a {
  color: purple;
}

.content img {
  display: block;
  margin-top: 25px;
  width: 375px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
